/* sovrascrittura container-fluid padding */
.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

/* regole generali */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

/* regole di debug */

[class*="col-"] {
  min-height: 100px;
  background-color: lightgreen;
  border: solid 1px  #000;
  padding: 2px;
}

[class*="col-"] > .row > [class*="col-"]{
  background-color: salmon;
  border-color: #fff;
}

/* regole pagina */
.centratura-page {
  padding:0 10%;
}

.centratura-nav {
  padding: 0 5%;
}

/* .navbar-header {
  max-width:25%;
} */

/* #logo-navbar {
  max-width: 50%;
} */

/* brand logo  autoresizing */
.navbar-brand > img {
    max-height: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
  }

/* jumbotron */
#jumbo-sez {
  background-image: url(https://www.digitalocean.com/static/bg-home-hero-3-bb4b33b77274db09b969f629ad81c4d5.svg);
  background-size: cover;
  background-position: center;
}

/* stile login form */
.login-form {
  width: 90%;
  margin: 0 auto;
}
.login-form form {
  margin-bottom: 15px;
  background: #f7f7f7;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 30px;
  }
.login-form h2 {
  margin: 0 0 15px;
  }
.form-control, .btn {
  min-height: 38px;
  border-radius: 2px;
  }
.btn {
  font-size: 15px;
  font-weight: bold;
  }

/* sezione customers */
#customers-sez {
  background-color: #f3f5f9;
}

/* .loghi-customers img {
  width: 100%;
  height: 100%;
} */

/* margini nested columns off */
#margini-off {
  margin-right: 15px;
  margin-left: 15px;
}

.mini-box {
  width: 90%;
  min-height: 250px;
  margin: 0 auto;
}

#developers-sez {
  background-color:#f3f5f9;
}

/* ccentratura coppia sezioni features e regions */
.centratura-coppia {
  padding: 0 15%;
}

/* background sezioni */
#regions-sez {
  background-color: #003ab7;
}

#reviews-sez {
  background-color: #f3f5f9;
}

#regions-sez ul li {
  display: inline;
  padding: 10px;
}

.speed-test-contenitore {
  padding:5%;
}


#pre-footer {
  background-color: #0033ad;
}

footer {
  background-color: #031c4e;
}



#loghi-social i {
  font-size: 30px;
}
